{% extends "base.html" %}
{% load static %}
{% block 'head' %}

    <link href="{% static 'controle_estoque/css/global.css' %}" rel="stylesheet" />
    <link href="{% static 'controle_estoque/css/style.css' %}" rel="stylesheet" />

{% endblock%}

{% block 'body' %}

  <main class="main_home">
    <a href="{% url 'consulta_page' %}" class="bloco_main">
      <span class="text_bloco_main">Consultar item</span>
    </a>
    <a href="{% url 'cadastro_page' %}" class="bloco_main">
      <span class="text_bloco_main">Cadastrar item</span>
    </a>
  </main>

{% endblock%}

